
.header {
    background-color: #eee;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    padding: 5px;
}

.site_home {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    text-decoration-line: none;
}

img.logo_image {
    max-width: 100%;
}

.name {
    font-size: 4vw;
    padding: 6px;
    color: black;
}

.navbar {
    
}

.navbar_item {
    font-size: 2vw;
    text-decoration-line: none;
}

body {
    background-color: #ccc;
}

.body {
    background-color: #fff;
    padding: 10px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

.heading {
    text-align: center;
    font-size: 4vw;
}

.content{
    
}

.footer {
    text-align: right;
    font-size: 1vw;
    padding: 5px;
}
